@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* --------------------------------------------------------------Style do corpo do site  */
body{
    font-family: 'Bebas Neue', cursive;
    width: 99%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #edcd5f 0,#c4caef 58%);
    
}

/* --------------------------------------------------------------Style dos inputs  */

input{
    color: white;
    padding: 17px;
    outline: none;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    border-radius: 5px
}

/* --------------------------------------------------------------Fundo da calculadora com efeito Glass  */

   
.fundo{
    height: 500px;
    align-items: center;
    width: 350px;
    display: flex;
    background-color:transparent;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(5px); 
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1); 
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    
}
/* -------------------------------------------------------------- onde esta localizado os botões  */
    

/* -------------------------------------------------------------- Efeito Glass nos botôes  */

.num{
    color: black;
    width: 64px;
    height: 68px;
    background: rgba(255, 255, 255, 0.1);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(5px); 
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* --------------------------------------------------------------Efeito Glass no botão "C" */

.text{
    color: black;
    width: 160px;
    height: 33px;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.1);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(5px); 
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.text1{
    color: black;
    width: 64px;
    height: 71px;
    text-align: center;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(5px); 
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

/* --------------------------------------------------------------Botões laterais com cores  */


.blue{
    background-color: #0cd0cd;
    opacity:0.6 ;
}
.pin{
    background-color: #cf1596;
    opacity:0.6 ;
}
.gre{
    background-color:#aad800;
    opacity:0.6 ;
}
.pur{
    background-color: #8c52ff;
    opacity:0.6 ;
}
.ora{
    background-color: #fcb707;
    opacity:0.6 ;
}

/* --------------------------------------------------------------Botões com efeito HOVER  */

.hover{
    transition: 0.3s;
}
.hover:hover{
    background: black;
	color: white;
    transition: 0.2s;
}
.text1:hover{
    background: black;
	color: white;

}
.blue:hover{
    opacity: 2;
    
}
.pin:hover{
    opacity: 2;
    
}
.gre:hover{
    opacity: 2;
    
}
.pur:hover{
    opacity: 2;
    
}
.ora:hover{
    opacity: 2;
    
}
